<header>
  <div class="container header-container">
    <span class="menu-controller">
      <a href="#" class="m-menu-open-trigger" style="display:none;"><span>Menu</span></a>
      <a href="#" class="m-menu-default close-menu"><span>Menu</span></a>
    </span>
    <div id="menu" class="menu">
      <div class="menu__inner">
        <ul>
          <li class=" ">
            <a class="nav-link" href="#work">Work</a>
          </li>
          <li class=" ">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class=" ">
            <a class="nav-link" href="#contact">Contact</a>
          </li>     
        </ul> 
      </div>
    </div>
  </div>
</header>