<div class="mywork" id="mywork">
<h1 class="section-title">My Work <span><i class="fa fa-angle-down" aria-hidden="true"></i></span></h1>
  <div class="work-example example-one">
    <div class="ha-waypoint work-overlay" data-animate-down="image-active"></div>
    <div class="example-description">
      <div class="description-content">
        <h2>Timber Threads</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel blandit ante. Duis dui mi, consequat sit amet metus vel, vulputate rhoncus enim. Quisque volutpat fermentum orci, ullamcorper hendrerit quam vehicula in. Quisque eu sollicitudin eros. Vestibulum eros magna, dapibus id nisi pulvinar, ultricies bibendum mi.</p>
        <div class="example-link">
          <h3>View:</h3>
          <a target="_blank" href="http://www.timberthreads.com">www.timberthreads.com</a>
        </div>
      </div>
    </div>
  </div>
  <div class="work-example example-two">
    <div class="ha-waypoint work-overlay" data-animate-down="image-active"></div>
    <div class="example-description">
      <div class="description-content">
        <h2>Timber Hockey</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel blandit ante. Duis dui mi, consequat sit amet metus vel, vulputate rhoncus enim. Quisque volutpat fermentum orci, ullamcorper hendrerit quam vehicula in. Quisque eu sollicitudin eros. Vestibulum eros magna, dapibus id nisi pulvinar, ultricies bibendum mi.</p>
      </div>
      <div class="example-link">
        <h3>View:</h3>
        <a target="_blank" href="http://www.timberthreads.com">www.timberhockey.com</a>
      </div>
    </div>
  </div>
  <div class="work-example example-three">
    <div class="ha-waypoint work-overlay" data-animate-down="image-active"></div>
    <div class="example-description">
      <div class="description-content">
        <h2>Pat Ortiz <span>Photography</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel blandit ante. Duis dui mi, consequat sit amet metus vel, vulputate rhoncus enim. Quisque volutpat fermentum orci, ullamcorper hendrerit quam vehicula in. Quisque eu sollicitudin eros. Vestibulum eros magna, dapibus id nisi pulvinar, ultricies bibendum mi.</p>
        <div class="example-link">
          <h3>View:</h3>
          <a target="_blank" href="http://www.timberthreads.com">www.patortiz.com</a>
        </div>
      </div>
    </div>
  </div>    
</div>