.mywork {
  .section-title {
    span {
      position:relative;
      top:-1rem;
      font-size:3rem;
    }
  }
  .work-example {
    overflow:hidden;
    height: 160vh;
    width:100%;  
    text-align:center;
    position:relative;  
    padding-bottom:50%;
    h2 {
      padding-bottom:2rem;
      font-size:3rem;
    }
    .work-overlay {
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 80%;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+21,000000+21,000000+100&1+12,0+100 */
      background: -moz-linear-gradient(top,  rgba(0,0,0,1) 12%, rgba(0,0,0,0.9) 21%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 12%,rgba(0,0,0,0.9) 21%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(0,0,0,1) 12%,rgba(0,0,0,0.9) 21%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

    }
  }
  .example-description {
    position: relative;
    display: inline-block;
    height: 76%; 
    width:100%;
    text-align: center;
    background:#fff;
    line-height: 50px;
    text-decoration: none;
    padding-bottom:15%;
    .description-content {
      position:relative;
      z-index: 2;
      left:0;
      top:0; 
      padding:2rem 1vw; 
      h2 {
        padding-top:0;
      }
      .example-link {
        h3 {
          padding-top:2rem;
          font-size:2rem;
        }
        a {
          font-size:1.5rem;
          color:#000;
        }
      }
    } 
    &:after {
      content: "";
      position: absolute;
      top:100%; left: 0;
      background-color:#fff;
      padding-bottom:50%; width:57.7%;
      z-index:1;
      
      -webkit-transform-origin:0 0;
      -ms-transform-origin:0 0;
      transform-origin:0 0;
      
      -webkit-transform: rotate(-30deg) skewX(30deg);;
      -ms-transform: rotate(-30deg) skewX(30deg);
      transform: rotate(-30deg) skewX(30deg);
    }      
  }
 .example-one {
     background: url(../static/mywork-timberthreads.jpg) no-repeat center center;
     background-size:cover;
     background-attachment: fixed;

     
  }
  .example-two {
     background: url(../static/mywork-timberhockey.jpg) no-repeat center center;
     background-size:cover;
     background-attachment: fixed;   
  }
  .example-three {
     background: url(../static/mywork-pat-ortiz.jpg) no-repeat center center;
     background-size:cover;
     background-attachment: fixed; 
     h2 {
      span {
        font-size:1.5rem;
        display: block;
        font-family: $body-copy;
      }
     }  
  }
}
.example-four {
   background: url(../static/mywork-edelgolf.jpg) no-repeat center center;
   background-size:cover;
   background-attachment: fixed;   
}

@media (min-width: 970px) {
  .mywork {
    .work-example {
      height: 140vh;
    }
    .example-description {
      height: 25%; 
      &:after {
        opacity:1;
        opacity:1;
      }
      .description-content {
        padding-top:3rem;
        font-size:4rem;
        padding:2rem 12vw; 
      }  
    } 
  }  
}












